*.pyc
.vscode
*.log
ply
*.ply
test.*
test1.*
output
outputs
rebuttal/
build
output/
csd_utils.py
point_e_model_cache/
shap_e_model_cache/
resources/
exp/
__pycache__/
lora_diffusion/
lora_model/
run_file/
load/
clip_*
*.safetensors
*.ckpt
*.bin
*.pt
*.pth
*.onnx
*.zip
*.tar.gz
gcs_utils.py
gcs_utils.py
plyreader.py
scripts/
logs/
log/
configs/
train_*.sh

